@import url(//fonts.googleapis.com/css?family=Open+Sans);

@font-face {
    src: url(../fonts/OpenSans-Regular.ttf);
    font-family: OpenSans;
}

@font-face {
    src: url(../fonts/FontsFree-Net-Geogtq-Rg.otf);
    font-family: Geogtq;
}

body {
  background-color: #47c3dc;
}

//.container {
//  -moz-transform: scale(1.3); /* for Firefox, default 1*/
//  zoom:130%; /* For Chrome, IE, default 100%*/
}

@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    .container{
      -moz-transform: scale(.95); /* for Firefox, default 1*/
      zoom:95%; /* For Chrome, IE, default 100%*/
    }
    .leftdiv {
      border: 0px;
    }
}

@media only screen and (max-width: 400px) {
    /* For mobile phones: */
    .container{
      -moz-transform: scale(.8); /* for Firefox, default 1*/
      zoom:70%; /* For Chrome, IE, default 100%*/
      width: 100%;
    }
}

.jumbotron {
  padding-top: 2.5rem;
}

.const {
  margin-top: 3rem;
}

.blueb {
  background-color: #47c3dc;
}

.bluef {
  color: #47c3dc;
}

.nobord {
  border-width: 0px;
}

.whitfnt {
  color: white;
  font-size: 1.8rem;
}

.whitfnt2 {
  color: white;
  font-size: 1.8rem;
}
.whitfnt2:hover {
  color: #808080;
}

.navsmallmrgbot {
  margin-bottom: 4px;
}



#bigtkwy {
  text-align: center;
  font-size: 6.5rem;
  font-weight: bold;
  color: #47c3dc;
  //line-height: normal;
  font-family: Geogtq;
}

#introp {
  text-align: center;
  font-size: 1.7rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #404040;
}

#introc {
  text-align: center;
  font-size: 1.8;
  font-family: Geogtq;
  color: #417379;
}

.jumbotronadd {
  margin-top: 1.4rem;
  text-align: center;
  padding-bottom: 127px;
}

.rightalgn{
  text-align: right;
}
.leftalgn{
  text-align: left;
}
.entbutdes {
  background-color: #ec8c2d;
  color: white;
  font-size: 20px;
  font-weight: bold;
  min-height: inherit;
  padding: 1.5rem 6rem;
  border-radius: .5rem;
}

.dfooter {
  color: white;
  font-size: 1.5rem;
  padding-top: 0px;
  margin-top: 0px;
  text-align: center;
}

.snowbg {
  background-image: url('../images/snowbg.png');
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
 //  background-size: cover;
  background-attachment: inherit;
}

.headngsprpg {
  text-align: left;
  font-size: 4.2rem;
  font-weight: bold;
  font-family: Geogtq;
  color: #47c3dc;
}

.leftdiv {
  border-left:  1px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-color: #D3D3D3;
  border-style: solid;
  padding-left: 4rem;
  padding-right: 2rem;
}

.notssub {
  font-size: 1.4rem;
  font-family: sans-serif Arial;
  color: #417379;
}

.nextbutdes {
  background-color: #D8D8D8;
  color: #303030;
  font-size: 15px;
  font-family: Helvetica;
  min-height: inherit;
  padding: 0.3rem 1.6rem;
  border-radius: .3rem;
}

.nextbutdes:hover {
  background-color: #E8E8E8;
  color: black;
  min-height: inherit;
  font-weight: bold;
}

.vpdfbutdes {
  background-color: #ec8c2d;
  color: white;
  font-size: 15px;
  font-weight: bold;
  font-family: Helvetica;
  min-height: inherit;
  padding: 0.7rem 2rem;
  border-radius: .5rem;
}

.vpdfbutdes:hover {
  background-color: #FF8C00;
  border-radius: .8rem;
  color: White;
}

#applicationnametxt {
  font-family: sans-serif Arial;
  font-size: 2rem;
  font-weight: bold;
  color: #ec8c2d;
}

.requiredclr {
  color:#ec8c2d;
  font-weight: bold;
  font-size: 1.8rem;
}

.nomaxwidth {
  max-width: none;
}

.spacebetsftd {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.aligncntr {
  text-align: center;
}

.softlabel {
  font-family: sans-serif Arial;
  font-size:1.6rem;
  margin: 0px;
  padding-left: 7px;
  padding-right: 0px;
  padding-bottom: 7px;
  padding-top: 8px;
  border-width: 0px;
}

.glypfonts {
  font-size: 2.5rem;
}

.centertext {
  text-align: center;
}

.aggrchk {
  font-family: ;
  font-weight: normal;
  font-size: 1.7rem;
}

.middleset {
  padding-top: 0.6rem;
  padding-bottom: auto;
}

.lresult {
  text-align: center;
  font-size: 5rem;
}

#option2 {
  background-image: url("images/Engg_selected.png");
}

.custombgopt {
  background: url("images/Gov_default.png");
}

.custombgopt:hover {
  background-color: orange;
}

.custombgopt:toggle {
  background-color: gray;
}


.entbutdes2 {
  background-color: #417379;
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: Helvetica;
  min-height: inherit;
  padding: 1.7rem 5rem;
  border-radius: .5rem;
}

.roilbl {
  font-family: Geogtq;
  font-size: 2.1rem;
  font-weight: bold;
  color: #ec8c2d;
}

.roiplch {
  font-family: OpenSans;
  font-size: 2rem;
  font-weight: bold;
  color: #417379;
}

#roidesign {
  font-family: OpenSans;
  font-size: 4.5rem;
  font-weight: normal;
  color: #417379;
}

#roifnllbl {
  font-family: Geogtq;
  font-size: 3.8rem;
  font-weight: bold;
  color: #ec8c2d;
}

.nospace {
  margin: 0px;
  padding: 0px;
  border-width: 0px;
}

#cutlicdesign {
  font-family: OpenSans;
  font-size: 3rem;
  font-weight: normal;
  color: #417379;
}

#cutlicfnllbl {
  font-family: Geogtq;
  font-size: 2.8rem;
  font-weight: bold;
  color: #ec8c2d;
}
.industrychanging {
  font-size: 1.8rem;
}

.glyphpointer:hover {
  cursor: pointer;
}

.justterm {
  font-size: 10px;
  text-align: justify;
}

#cloudicon {
  height: 40px;
}

#desktopicon {
  height: 40px;
  width: 50px;
}

#servericon {
  height: 40px;
}

.openfont {
  font-family: 'Open Sans', sans-serif;
}

.geofont {
  font-family: Geogtq;
}

.dlbutdes {
  background-color: #ec8c2d;
  color: white;
  font-size: 15px;
  font-family: Geogtq;
  min-height: inherit;
  padding: 0.6rem 2.8rem;
  border-radius: .5rem;
}

.recalcbutdes {
  background-color: #ec8c2d;
  color: White;
  border-radius: 4px;
  border-color: #ec8c2d;
  border-width: 2px;
  font-size: 20px;
  font-family: Geogtq;
  min-height: inherit;
  padding: 1rem 2.8rem;
  border-radius: .5rem;
  //font-weight: bold;
}

.showroibutdes {
  background-color: #ec8c2d;
  color: white;
  font-size: 20px;
  font-family: Geogtq;
  min-height: inherit;
  padding: 1.2rem 3rem;
  border-radius: .5rem;
}

.colorwhite {
  background-color: white;
}

.pricebgcol {
  background-color: gainsboro;
}

table {
  width: 100%;
  border-radius: 5px;
  border-width: 0px;
}

td {
  //border: 1px solid blue;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}

th {
  font-size: 20px;
  background-color: #404040;
  //background: linear-gradient(top, #417379 0%, #08a0b2 100%);
  //background: -webkit-linear-gradient(top, #417379 0%, #08a0b2 100%);
  color: white;
}

#firstyrgradient {
  //background: linear-gradient(top, #ffba00 0%, #ffae19 100%);
  //background: -webkit-linear-gradient(top, #ffba00 0%, #ffae19 100%);
  background-color: #47c3dc;
  font-family: Geogtq;
  font-size: 4vh;
  color: white;
  //border-bottom: 2px solid white;
}

#secondyrgradient {
  //background: linear-gradient(top, #ffae19 0%, #ffa500 100%);
  //background: -webkit-linear-gradient(top, #ffae19 0%, #ffa500 100%);
  background-color: #417379;
  font-family: Geogtq;
  font-size: 4vh;
  color: white;
  //border-bottom:2px solid white;
}

#thrdyrgradient {
  //background: linear-gradient(top, #ffa500 0%, #ec8c2d 100%);
  //background: -webkit-linear-gradient(top, #ffa500 0%, #ec8c2d 100%);
  background-color: #ec8c2d;
  font-family: Geogtq;
  font-size: 4vh;
  color: white;
}

.yearlydata {
  font-family: OpenSans;
  font-size: 2.5vh;
  //font-size: 3rem;
  font-weight: normal;
  color: #404040;
}

.yearlydatalbl {
  font-family: Geogtq;
  font-size: 2.5vh;
  //font-size: 3rem;
  font-weight: normal;
  color: #404040;
}

.roidiv {
  border-left:  1px;
  border-top: 1px;
  border-right: 1px;
  border-bottom: 1px;
  border-color: #D3D3D3;
  border-style: solid;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.graphcontainter {
  width: 100%;
  height: 400px;
  text-align: center;
}

.tableblock {
  width: 100%;
}

.smallpadtbl {
  padding-top: 0.45rem;
  padding-bottom: 0.5rem;
}

.bigtxtbx {
  height: 58px;
  font-size: 23px;
}

.midtxtbx {
  height: 45px;
  font-size: 18px;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:16px;
    height:16px;
    background:white;
    border-radius:2px;
    border:1px solid;
    border-color: gray;
}
input[type='checkbox']:checked {
    background: #47c3dc;
}

input[type='checkbox'].bigchkbx {
  -webkit-appearance:none;
  width: 24px;
  height: 24px;
  margin-top: 8px;
  margin-left: 0px;
}

.leftpad {
  padding-left: 15px;
}

.allspace {
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 1px;
  border-radius: 10px;
}

.colorsemiwhite {
  background-color: #f5f5f5;
}
.colorsemiwhite2 {
  background-color: #f9f9f9;
}

.removeextrapadding {
  padding-bottom: 21px;
}

button {
  background-color: #eee;
  border-width: 0px;
  padding:0px;
  margin: 0px;
  border-width: 0px;
  outline: none;
}

.pointermarg{
  margin-top: 3rem;
}


.takeawaydiv {
  width: 100%;
  height: 350px;
  position: relative;
  //background-color: lightgray;
}

.eng {
  background: url('../images/industry/Engg_default.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 120px;
  display: inline-block;
  transition: 0.3s;
}

.eng:hover {
  background: url('../images/industry/Engg_hover.png') repeat-x;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 120px;
  display: inline-block;
  transition: 0.3s;
}

input[type="radio"]{
  display: none;
  margin: 0;
  padding: 0;
}

input:checked + .eng {
  background: url('../images/industry/Engg_selected.png') repeat-x;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 120px;
  display: inline-block;
}
/*------*/
.og {
  background: url('../images/industry/O&G_default.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 120px;
  display: inline-block;
  transition: 0.3s;
}

.og:hover {
  background: url('../images/industry/O&G_hover.png') repeat-x;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 120px;
  display: inline-block;
  transition: 0.3s;
}

input:checked + .og {
  background: url('../images/industry/O&G_selected.png') repeat-x;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 120px;
  display: inline-block;
}
/*------*/
.auto {
  background: url('../images/industry/Auto_default.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 120px;
  display: inline-block;
  transition: 0.3s;
}

.auto:hover {
  background: url('../images/industry/Auto_hover.png') repeat-x;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 120px;
  display: inline-block;
  transition: 0.3s;
}

input:checked + .auto {
  background: url('../images/industry/Auto_selected.png') repeat-x;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 120px;
  display: inline-block;
}

/*------*/
.mp {
  background: url('../images/industry/Mech_default.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 120px;
  display: inline-block;
  transition: 0.3s;
}

.mp:hover {
  background: url('../images/industry/Mech_hover.png') repeat-x;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 120px;
  display: inline-block;
  transition: 0.3s;
}

input:checked + .mp {
  background: url('../images/industry/Mech_selected.png') repeat-x;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 120px;
  display: inline-block;
}

/*------*/
.gov {
  background: url('../images/industry/Gov_default.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 120px;
  display: inline-block;
  transition: 0.3s;
}

.gov:hover {
  background: url('../images/industry/Gov_hover.png') repeat-x;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 120px;
  display: inline-block;
  transition: 0.3s;
}

input:checked + .gov {
  background: url('../images/industry/Gov_selected.png') repeat-x;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 120px;
  display: inline-block;
}

/*------*/
.oth {
  background: url('../images/industry/Others_default.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 120px;
  display: inline-block;
  transition: 0.3s;
}

.oth:hover {
  background: url('../images/industry/Others_hover.png') repeat-x;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 120px;
  display: inline-block;
  transition: 0.3s;
}

input:checked + .oth {
  background: url('../images/industry/Others_selected.png') repeat-x;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 120px;
  display: inline-block;
}

.firstop .secondtop .thirdtop .fourthtop .fifthtop .sixthtop
.eng .og .auto .mp .gov .oth {
  margin:0;
  padding:0;
}

label span {
  cursor: pointer;
}


.firstop {
  position: absolute;
  top: 72px;
  left: 50px;
}

.secondtop {
  position: absolute;
  top: 23px;
  left: 140px;
}

.thirdtop {
  position: absolute;
  top: 172px;
  left: 50px;
}

.fourthtop {
  position: absolute;
  top: 172px;
  left: 230px;
}

.fifthtop {
  position: absolute;
  top: 72px;
  left: 230px;
}

.sixthtop {
  position: absolute;
  top: 222px;
  left: 140px;
}

.selectind {
  height: 85px;
  width: 112px;
  position: absolute;
  top: 133px;
  left: 144px;
}

.containeradd {
  align-items: center;
}

.custbotspc {
  margin-left: 0px;
  padding: 0px
  border-width: 0px;
}

.custcenterright {
  text-align: right;
}

@media only screen and (max-width: 1000px) {

    .custcenterright {
      text-align: center;
    }
}

.contactdiv {
    //margin: 0 auto;
    margin: 0 15%;
    //width: 50%;
    background-color: #eee;
    //background-color: #f5f5f5;
    padding: 2rem;
    border-radius: 5px;
    opacity: 0.88;
    filter: alpha(opacity=88);
}

.contactpagejumbadd{
  border-top: 1px solid #d3d3d3;
  border-radius: 0;
  padding-bottom: 0;
}

.introc {
  text-align: center;
  font-size: 1.5rem;
  font-family: OpenSans;
  color: #417379;
}

#contacthead{
  font-family: Geogtq;
  font-size: 3.5rem;
  padding-bottom: 2rem;
  color: #404040;
  font-weight: 500;
}
