body {
  background-color: #47c3dc;
}

.jumbotron {
  padding-top: 2.5rem;
}

.const {
  margin-top: 3rem;
}

.blueb {
  background-color: #47c3dc;
}

.bluef {
  color: #47c3dc;
}

.nobord {
  border-width: 0px;
}

.whitfnt {
  color: white;
  font-size: 1.8rem;
}

.whitfnt2 {
  color: white;
  font-size: 1.8rem;
}
.whitfnt2:hover {
  color: #808080;
}

.navsmallmrgbot {
  margin-bottom: 4px;
}

#bigtkwy {
  text-align: center;
  font-size: 6rem;
  font-weight: bold;
  font-family: sans-serif Arial ;
  color: #47c3dc;
}

#introp {
  text-align: center;
  font-size: 1.6rem;
  font-family: sans-serif Arial;
  font-weight: bold;
  color: #404040;
}

#introc {
  text-align: center;
  font-size: 1.8;
  font-family: sans-serif Arial;
  color: #417379;
}

.jumbotronadd {
  text-align: center;
  padding-bottom: 18rem;
}
.rightalgn{
  text-align: right;
}
.entbutdes {
  background-color: #ec8c2d;
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: Helvetica;
  min-height: inherit;
  padding: 1.7rem 3rem;
  border-radius: .5rem;
}

.entbutdes:hover {
  background-color: #FF8C00;
  color: gainsboro;
  border-radius: .8rem;
}

.dfooter {
  color: white;
  font-family: sans-serif;
  font-size: 1.5rem;
  padding-top: 0px;
  margin-top: 0px;
  text-align: center;
}

.snowbg {
  background-image: url('../images/snowbg.png');
  height: 100%;
  width: 100%;

}

.headngsprpg {
  text-align: left;
  font-size: 4rem;
  font-weight: bold;
  font-family: sans-serif Arial ;
  color: #47c3dc;
}

.leftdiv {
  border-left:  1px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-color: #D3D3D3;
  border-style: solid;
  padding-left: 4rem;
  padding-right: 2rem;
}

.notssub {
  font-size: 1.4rem;
  font-family: sans-serif Arial;
  color: #417379;
}

.nextbutdes {
  background-color: #D8D8D8;
  color: #303030;
  font-size: 15px;
  font-family: Helvetica;
  min-height: inherit;
  padding: 0.3rem 1.6rem;
  border-radius: .3rem;
}

.nextbutdes:hover {
  background-color: #E8E8E8;
  color: black;
  min-height: inherit;
  font-weight: bold;
}

.vpdfbutdes {
  background-color: #ec8c2d;
  color: white;
  font-size: 15px;
  font-weight: bold;
  font-family: Helvetica;
  min-height: inherit;
  padding: 0.7rem 2rem;
  border-radius: .5rem;
}

.vpdfbutdes:hover {
  background-color: #FF8C00;
  border-radius: .8rem;
  color: White;
}

#applicationnametxt {
  font-family: sans-serif Arial;
  font-size: 2rem;
  font-weight: bold;
  color: #ec8c2d;
}

.requiredclr {
  color:#ec8c2d;
  font-weight: bold;
  font-size: 1.8rem;
}

.nomaxwidth {
  max-width: none;
}

.spacebetsftd {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.aligncntr {
  text-align: center;
}

.softlabel {
  font-family: sans-serif Arial;
  font-size:1.39rem;
}

.glypfonts {
  font-size: 2.5rem;
}

.centertext {
  text-align: center;
}

.aggrchk {
  font-family: Helvetica;
  font-weight: normal;
  font-size: 1.5rem;
}

.middleset {
  padding-top: 0.6rem;
  padding-bottom: auto;
}

.lresult {
  text-align: center;
  font-size: 5rem;
}
