body {
  background-color: #47c3dc;
}


.jumbotron {
  padding-top: 2.5rem;
}

.const {
  margin-top: 3rem;
}

.blueb {
  background-color: #47c3dc;
}

.bluef {
  color: #47c3dc;
}

.nobord {
  border-width: 0px;
}

.whitfnt {
  color: white;
  font-size: 1.8rem;
}

.whitfnt2 {
  color: white;
  font-size: 1.8rem;
}
.whitfnt2:hover {
  color: #808080;
}

.navsmallmrgbot {
  margin-bottom: 4px;
}

#bigtkwy {
  text-align: center;
  font-size: 6rem;
  font-weight: bold;
  font-family: sans-serif Arial ;
  color: #47c3dc;
}

#introp {
  text-align: center;
  font-size: 1.7rem;
  font-family: sans-serif Arial;
  font-weight: bold;
  color: #404040;
}

#introc {
  text-align: center;
  font-size: 1.8;
  font-family: sans-serif Arial;
  color: #417379;
}

.jumbotronadd {
  text-align: center;
  padding-bottom: 12rem;
}
.rightalgn{
  text-align: right;
}
.leftalgn{
  text-align: left;
}
.entbutdes {
  background-color: #ec8c2d;
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: Helvetica;
  min-height: inherit;
  padding: 1.7rem 3rem;
  border-radius: .5rem;
}

.entbutdes:hover {
  background-color: #FF8C00;
  color: gainsboro;
  border-radius: .8rem;
}
.entbutdesagain {
  background-color: White;
  color: #ec8c2d;
  border-width: 2px;
  border-color: #ec8c2d;
  font-size: 16px;
  font-weight: bold;
  font-family: Helvetica;
  min-height: inherit;
  padding: 1.3rem 2.4rem;
  border-radius: .5rem;
}
.dfooter {
  color: white;
  font-family: sans-serif;
  font-size: 1.5rem;
  padding-top: 0px;
  margin-top: 0px;
  text-align: center;
}

.snowbg {
  background-image: url('../images/snowbg.png');
  height: 100%;
  width: 100%;

}

.headngsprpg {
  text-align: left;
  font-size: 4rem;
  font-weight: bold;
  font-family: sans-serif Arial ;
  color: #47c3dc;
}

.leftdiv {
  border-left:  1px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-color: #D3D3D3;
  border-style: solid;
  padding-left: 4rem;
  padding-right: 2rem;
}

.notssub {
  font-size: 1.4rem;
  font-family: sans-serif Arial;
  color: #417379;
}

.nextbutdes {
  background-color: #D8D8D8;
  color: #303030;
  font-size: 15px;
  font-family: Helvetica;
  min-height: inherit;
  padding: 0.3rem 1.6rem;
  border-radius: .3rem;
}

.nextbutdes:hover {
  background-color: #E8E8E8;
  color: black;
  min-height: inherit;
  font-weight: bold;
}

.vpdfbutdes {
  background-color: #ec8c2d;
  color: white;
  font-size: 15px;
  font-weight: bold;
  font-family: Helvetica;
  min-height: inherit;
  padding: 0.7rem 2rem;
  border-radius: .5rem;
}

.vpdfbutdes:hover {
  background-color: #FF8C00;
  border-radius: .8rem;
  color: White;
}

#applicationnametxt {
  font-family: sans-serif Arial;
  font-size: 2rem;
  font-weight: bold;
  color: #ec8c2d;
}

.requiredclr {
  color:#ec8c2d;
  font-weight: bold;
  font-size: 1.8rem;
}

.nomaxwidth {
  max-width: none;
}

.spacebetsftd {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.aligncntr {
  text-align: center;
}

.softlabel {
  font-family: sans-serif Arial;
  font-size:1.39rem;
}

.glypfonts {
  font-size: 2.5rem;
}

.centertext {
  text-align: center;
}

.aggrchk {
  font-family: Helvetica;
  font-weight: normal;
  font-size: 1.5rem;
}

.middleset {
  padding-top: 0.6rem;
  padding-bottom: auto;
}

.lresult {
  text-align: center;
  font-size: 5rem;
}

#option2 {
  background-image: url("images/Engg_selected.png");
}
/*
label input:checked ~ img.inactive,
label:hover input:not(:checked) ~ img.inactive {
  display:none;
}

label input:not(:checked) ~ img.active,
label:hover input:checked ~ img.active {
  display:none;
}

label:hover input:checked ~ img.inactive,
label:hover input:not(:checked) ~ img.active {
  display: block;
}*/

.custombgopt {
  background: url("images/Gov_default.png");
}

.custombgopt:hover {
  background-color: orange;
}

.custombgopt:toggle {
  background-color: gray;
}
/*
.radiocontainer {
  display: inline-block;
  position: relative;
  margin-left: 0;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 22px;
  user-select: none;
  padding-left: 30px;
}

.radiocontainer input {
  display: none;
  padding-left: 0px;
}

.radiocontainer .circle {
  display: inline-block;
  font-size: 10px;
  width: 200px;
  height: 30px;
  position: absolute;
  padding-left: 0px;
  left: 0;
  top: 0;
  background-color:  gainsboro;
  //border-radius: 20%;
}

.radiocontainer:hover .circle {
  background-color: lightgray;
}

.radiocontainer input:not(:checked) + .circle:after {
  content: "mals";
  color: blue;
  font-size: 10px;
  // height: 10px;
//  width: 10px;
  position: absolute;
  border radius: 20%;
  top: 50%;
  left:40%;
  transform: translate(-40%, -50%);
}

.radiocontainer input:checked + .circle:after {
  content: "male";
  color: blue;
  font-size: 10px;
//  height: 10px;
//  width: 10px;
  position: absolute;
  border radius: 20%;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}*/

/*takeaway*/
/*
.radiocontainer1 {
  display: inline-block;
  position: relative;
  margin-left: 0;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 22px;
  user-select: none;
  padding-left: 00px;
}

.radiocontainer1 input {
  display: none;
  padding-left: 0px;
}

.radiocontainer1 .circle {
  display: inline-block;
  font-size: 10px;
  width: 300px;
  height: 30px;
  position: relative;
  padding-left: 0px;
  left: 0;
  top: 0;
  background-color: gainsboro;
  //border-radius: 20%;
}

.radiocontainer1:hover .circle {
  background-color: white;
  border-color: #ec8c2d;
  color: gainsboro;
}

.radiocontainer1 input:not(:checked) + .circle:after {
  content: "Engineering";
  color: #585858;
  font-size: 10px;
  // height: 10px;
//  width: 10px;
  position: absolute;
//  border radius: 20%;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.radiocontainer1 input:checked + .circle {
  background-color: #ec8e2d;
}

.radiocontainer1 input:checked + .circle:after {
  content: "Engineering";
  color: White;
  font-size: 10px;
//  height: 10px;
//  width: 10px;
  position: absolute;
//  border radius: 20%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/

.radiocontainer1 {
  display: inline-block;
  position: relative;
  margin: 0px;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 22px;
  user-select: none;
  padding-left: 30px;
}

.radiocontainer1 input {
  display: none;
  padding-left: 0px;
  margin: 0px;
}

.radiocontainer1 .circle {
  display: inline-block;
  font-size: 13px;
  width: 300px;
  height: 30px;
  position: relative;
  padding-left: 0px;
  left: 0;
  top: 0;
  background-color:  gainsboro;
  //border-radius: 20%;
  margin: 0px;
}

.radiocontainer1:hover .circle {
  background-color: white;
  border-color: #ec8c2d;
  color: gainsboro;
  margin: 0px;
}

.radiocontainer1 input:not(:checked) + .circle:after {
  content: "Engineering";
  color: #585858;
  font-size: 13px;
  // height: 10px;
//  width: 10px;
  position: absolute;
//  border radius: 20%;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  margin: 0px;
}

.radiocontainer1 input:checked + .circle {
  background-color: #ec8e2d;
  margin: 0px;
  width: 320px;
  height: 34px;
}

.radiocontainer1 input:checked + .circle:after {
  content: "Engineering";
  color: White;
  font-size: 15px;
//  height: 10px;
//  width: 10px;
  position: absolute;
//  border radius: 20%;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  margin: 0px;
}

/*----------*/
.radiocontainer2 {
  display: inline-block;
  position: relative;
  margin-left: 0;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 22px;
  user-select: none;
  padding-left: 30px;
  margin: 0px;
}

.radiocontainer2 input {
  display: none;
  padding-left: 0px;
  margin: 0px;
}

.radiocontainer2 .circle {
  display: inline-block;
  font-size: 13px;
  width: 300px;
  height: 30px;
  position: relative;
  padding-left: 0px;
  left: 0;
  top: 0;
  background-color:  gainsboro;
  //border-radius: 20%;
  margin: 0px;
}

.radiocontainer2:hover .circle {
  background-color: white;
  border-color: #ec8c2d;
  color: gainsboro;
  margin: 0px;
}

.radiocontainer2 input:not(:checked) + .circle:after {
  content: "Automotive";
  color: #585858;
  font-size: 13px;
  // height: 10px;
//  width: 10px;
  position: absolute;
//  border radius: 20%;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  margin: 0px;
}

.radiocontainer2 input:checked + .circle {
  background-color: #ec8e2d;
  margin: 0px;
  width: 320px;
  height: 34px;
}

.radiocontainer2 input:checked + .circle:after {
  content: "Automotive";
  color: White;
  font-size: 15px;
//  height: 10px;
//  width: 10px;
  position: absolute;
//  border radius: 20%;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  margin: 0px;
}
/*----------*/
.radiocontainer3 {
  display: inline-block;
  position: relative;
  margin-left: 0;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 22px;
  user-select: none;
  padding-left: 30px;
  margin: 0px;
}

.radiocontainer3 input {
  display: none;
  padding-left: 0px;
  margin: 0px;
}

.radiocontainer3 .circle {
  display: inline-block;
  font-size: 13px;
  width: 300px;
  height: 30px;
  position: relative;
  padding-left: 0px;
  left: 0;
  top: 0;
  background-color:  gainsboro;
  //border-radius: 20%;
  margin: 0px;
}

.radiocontainer3:hover .circle {
  background-color: white;
  border-color: #ec8c2d;
  color: gainsboro;
  margin: 0px;
}

.radiocontainer3 input:not(:checked) + .circle:after {
  content: "Oil and Gas";
  color: #585858;
  font-size: 13px;
  // height: 10px;
//  width: 10px;
  position: absolute;
//  border radius: 20%;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  margin: 0px;
}

.radiocontainer3 input:checked + .circle {
  background-color: #ec8e2d;
  margin: 0px;
  width: 320px;
  height: 34px;
}

.radiocontainer3 input:checked + .circle:after {
  content: "Oil and Gas";
  color: White;
  font-size: 15px;
//  height: 10px;
//  width: 10px;
  position: absolute;
//  border radius: 20%;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  margin: 0px;
}
/*----------*/
.radiocontainer4 {
  display: inline-block;
  position: relative;
  margin-left: 0;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 22px;
  user-select: none;
  padding-left: 30px;
  margin: 0px;
}

.radiocontainer4 input {
  display: none;
  padding-left: 0px;
  margin: 0px;
}

.radiocontainer4 .circle {
  display: inline-block;
  font-size: 13px;
  width: 300px;
  height: 30px;
  position: relative;
  padding-left: 0px;
  left: 0;
  top: 0;
  background-color:  gainsboro;
  //border-radius: 20%;
  margin: 0px;
}

.radiocontainer4:hover .circle {
  background-color: white;
  border-color: #ec8c2d;
  color: gainsboro;
  margin: 0px;
}

.radiocontainer4 input:not(:checked) + .circle:after {
  content: "Mechanical & Precision";
  color: #585858;
  font-size: 13px;
  // height: 10px;
//  width: 10px;
  position: absolute;
  //border radius: 20%;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  margin: 0px;
}

.radiocontainer4 input:checked + .circle {
  background-color: #ec8e2d;
  margin: 0px;
  width: 320px;
  height: 34px;
}

.radiocontainer4 input:checked + .circle:after {
  content: "Mechanical & Precision";
  color: White;
  font-size: 13.4px;
//  height: 10px;
//  width: 10px;
  position: absolute;
//  border radius: 20%;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  padding: 0px;
  margin: 0px;
}
/*----------*/
.radiocontainer5 {
  display: inline-block;
  position: relative;
  margin-left: 0;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 22px;
  user-select: none;
  padding-left: 30px;
  margin: 0px;
}

.radiocontainer5 input {
  display: none;
  padding-left: 0px;
  margin: 0px;
}

.radiocontainer5 .circle {
  display: inline-block;
  font-size: 13px;
  width: 300px;
  height: 30px;
  position: relative;
  padding-left: 0px;
  left: 0;
  top: 0;
  background-color:  gainsboro;
  //border-radius: 20%;
  margin: 0px;
}

.radiocontainer5:hover .circle {
  background-color: white;
  border-color: #ec8c2d;
  color: gainsboro;
  margin: 0px;
}

.radiocontainer5 input:not(:checked) + .circle:after {
  content: "Government";
  color: #585858;
  font-size: 13px;
  // height: 10px;
//  width: 10px;
  position: absolute;
  border radius: 20%;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  margin: 0px;
}

.radiocontainer5 input:checked + .circle {
  background-color: #ec8e2d;
  width: 320px;
  height: 34px;
  margin: 0px;
}

.radiocontainer5 input:checked + .circle:after {
  content: "Government";
  color: White;
  font-size: 15px;
//  height: 10px;
//  width: 10px;
  position: absolute;
  //border radius: 20%;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  margin: 0px;
}
/*----------*/
.radiocontainer6 {
  display: inline-block;
  position: relative;
  margin-left: 0;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 22px;
  user-select: none;
  padding-left: 30px;
  margin: 0px;
}

.radiocontainer6 input {
  display: none;
  padding-left: 0px;
  margin: 0px;
}

.radiocontainer6 .circle {
  display: inline-block;
  font-size: 13px;
  width: 300px;
  height: 30px;
  position: relative;
  padding-left: 0px;
  left: 0;
  top: 0;
  background-color:  gainsboro;
  //border-radius: 20%;
  margin: 0px;
}

.radiocontainer6:hover .circle {
  background-color: white;
  border-color: #ec8c2d;
  color: gainsboro;
  margin: 0px;
}

.radiocontainer6 input:not(:checked) + .circle:after {
  content: "Others";
  color: #585858;
  font-size: 13px;
  // height: 10px;
//  width: 10px;
  position: absolute;
  //border radius: 20%;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  margin: 0px;
}

.radiocontainer6 input:checked + .circle {
  background-color: #ec8e2d;
  margin: 0px;
  width: 320px;
  height: 34px;
}

.radiocontainer6 input:checked + .circle:after {
  content: "Others";
  color: White;
  font-size: 15px;
//  height: 10px;
//  width: 10px;
  position: absolute;
  //border radius: 20%;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  margin: 0px;
}
/*
input[type="radio"]{
  opacity: 0;
  width: 0;
  margin: 0;
}

label[for="male"], label[for="female"]{
  margin-buttom: 10px;
  display: inline-block;
  padding-left: 26px;
  background: url(images/cust.png) ;
  background-position: 0 0;
  line-height: 24px;
  cursor: pointer;
}

input:checked + label[for="male"],
input:checked + label[for="female"]{
  background-position: 0 0;
  color: #ce1010;
}
*/

.entbutdes2 {
  background-color: #417379;
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: Helvetica;
  min-height: inherit;
  padding: 1.7rem 3rem;
  border-radius: .5rem;
}

.roilbl {
  font-family: sans-serif Arial;
  font-size: 2rem;
  font-weight: bold;
  color: #ec8c2d;
}

.roiplch {
  font-family: sans-serif Arial;
  font-size: 2rem;
  font-weight: bold;
  color: #417379;
}

#roidesign {
  font-family: sans-serif Arial;
  font-size: 4.5rem;
  font-weight: normal;
  color: #417379;
}

#roifnllbl {
  font-family: sans-serif Arial;
  font-size: 3.8rem;
  font-weight: bold;
  color: #ec8c2d;
}

.nospace {
  margin: 0px;
  padding: 0px;
  border-width: 0px;
}

#cutlicdesign {
  font-family: sans-serif Arial;
  font-size: 3rem;
  font-weight: normal;
  color: #417379;
}

#cutlicfnllbl {
  font-family: sans-serif Arial;
  font-size: 2.8rem;
  font-weight: bold;
  color: #ec8c2d;
}
.industrychanging {
  font-size: 1.8rem;
}

.glyphpointer:hover {
  cursor: pointer;
}

.justterm {
  font-size: 10px;
  text-align: justify;
}
